a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

.mainPage {
  margin: 0;
  display: flex;
  place-items: center;
  align-items: center;
  justify-content: center;
  min-width: 320px;
  min-height: 100vh;
}

.card{
  border-radius: 8px;
  border: 2px solid black;
  margin: 15px; 
  margin-bottom: 10px; 
  height: 50vh; 
  width: 50vh;
  display: flex; 
  flex-direction: column; 
  align-items: center; 
  justify-content: center; 
  text-align: center; 

}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  color: rgb(83, 83, 83) ;
}

.image {
  border-radius: 4px; 
  margin: 15px; 
}

.custom-button {
  background-color: rgb(63, 63, 63) !important;
  color: #bbbaba !important;
  border: 2px solid lightgrey !important;
}

.custom-button:hover {
  background-color: rgb(163, 163, 163) !important;
  border-color: black !important;
}


